.user-form {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  border: 1px solid black;
}

.validation-message {
  color: green;
}