.bidwar-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;

  width: 400px;
  height: 50px;
  border: 1px solid black;
}

.first-incentive {
  width: 50%;
  text-align: start;
  background-color: rgb(51, 170, 51);
  background-size: 100%;
  line-height: 50px;
}

.second-incentive {
  width: 50%;
  text-align: end;
}

.label {
  font-family: Oswald;
  font-weight: 600;
  white-space: nowrap;
  padding: 5px;
}
